*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  // border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button,
input[type='submit'] {
  background: none;
  outline: none;
  border: 0;
  cursor: pointer;
}
