<header>
  <h1 class="brand">ethan jazz</h1>
  
  <%# <button class="nav__toggle">
    <span class="burger"></span>
  </button> %>

</header>

<nav class="nav" id="nav">
  <ul class="nav__ul">
    <li class="nav__ul-li"><%= link_to 'Home', root_path %></li>
    <li class="nav__ul-li"><%= link_to 'Post', new_post_path %></li>
  </ul>
</nav>
